﻿@{
    ViewBag.CssClass = ViewBag.CssClass ?? "outer";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoTunes - @ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="@ViewBag.CssClass">
    <div class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <div class="logo-holder">
                    <a href="/"><img src="~/images/logo.png" alt="GoTunes" title="GoTunes" /></a>
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>
    @RenderBody()
   <!-- <div class="outer">-->
        <footer>
            <p>GoTunes &copy; @DateTime.Now.Year</p>
        </footer>
    @*</div>*@
        </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>