﻿<!-- SearchBox Partial View -->
<div class="form-wrapper cf">
    @using (Html.BeginForm("Index", "Search"))
    {
    <div class="input-group">

        <input class="form-control" type="text" name="SearchText" placeholder="Type here..." required maxlength="50" >
        <span class="input-group-btn">
            <button class="btn" type="submit">Search</button>
        </span>
    </div>
    }
</div>