﻿body {
    font-size: 13px;
    /* Open Sans is one of Google Fonts */
    /* reference link to Google fonts is in the layout page */
    font-family: 'Open Sans', Arial, Helvetica;
    color: #666;
    text-align: center;
}
/* Top Navigator */
.navbar-header {
    padding: 10px 0;
}

.navbar {
    background: #fff;
}
/* End Top Navigator */
/* Logo */
.logo-holder {
    margin: 0;
    padding: 0;
}

    .logo-holder img {
        height: 58px;
    }
/* End Logo */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans',Arial;
}

h2 {
    font-size: 26px;
    font-weight: 600;
    color: #fff;
}

a {
    outline: none;
    color: #4885ed;
    text-decoration: none;
}

    a:hover, a.hover {
        text-decoration: none;
    }

    a:active, a.active, a:focus, a.focus {
        outline: none;
    }

.cf:before, .cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
}
/* outer class in homepage */
.outer-homepage {
    width: 100%;
    margin: 0;
    padding: 0;
    background: #67B26F; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #67B26F, #4ca2cd); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #67B26F, #4ca2cd);
}
/* outer class */
.outer {
    width: 100%;
    margin: 0;
    padding: 0;
}
/* main content class in homepage */
.main-homepage {
    margin: 100px auto 50px auto;
    padding: 25px 0;
    background: #67B26F; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #67B26F, #4ca2cd); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #67B26F, #4ca2cd);
}
/* main content class */
.main {
    text-align: left;
    margin: 50px auto 0px auto;
    padding: 25px 0 0 0;
    background: #67B26F; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #67B26F, #4ca2cd); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #67B26F, #4ca2cd);
}
/* SearchBox*/
/* searchbox wrapper */
.form-wrapper {
    max-width: 450px;
    padding: 15px;
    margin: 20px auto;
    background: #ccc;
    background: rgba(0,0,0,0.1);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: content-box;
}
    /*
.form-wrapper {
    width: 450px;
    padding: 15px;
    margin: 20px auto;
    background: #ccc;
    background: rgba(0,0,0,0.1);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: content-box;
}
    */
    /* search textbox */
    .form-wrapper input {
        /*width: 330px;*/
        height: 20px;
        padding: 10px 5px;
        float: left;
        font: 15px 'Open Sans', Arial;
        color: #666;
        border: 0;
        -moz-border-radius: 3px 0 0 3px;
        -webkit-border-radius: 3px 0 0 3px;
        border-radius: 3px 0 0 3px;
        -webkit-box-sizing: initial;
        -moz-box-sizing: initial;
        box-sizing: initial;
    }

        .form-wrapper input:focus {
            outline: 0;
            -moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
            -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
            box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
        }

        .form-wrapper input::-webkit-input-placeholder {
            color: #999;
            font-weight: normal;
            font-style: italic;
        }

        .form-wrapper input:-moz-placeholder {
            color: #999;
            font-weight: normal;
            font-style: italic;
        }

        .form-wrapper input:-ms-input-placeholder {
            color: #999;
            font-weight: normal;
            font-style: italic;
        }
    /* SearchBox Button */
    .form-wrapper button {
        overflow: visible;
        position: relative;
        float: right;
        border: 0;
        padding: 0;
        cursor: pointer;
        height: 40px;
        min-width: 80px;
        font: 14px 'Open Sans',Arial;
        font-weight: 500;
        color: #fff;
        text-transform: uppercase;
        background: #4ca2cd;
        -moz-border-radius: 0 3px 3px 0;
        -webkit-border-radius: 0 3px 3px 0;
        border-radius: 0 3px 3px 0;
    }

        .form-wrapper button:hover {
            background: #4885ed;
            color: #fff;
        }

        .form-wrapper button:active,
        .form-wrapper button:focus {
            background: #4885ed;
            color: #fff;
        }

        .form-wrapper button:hover:before {
            border-right-color: #4ca2cd;
        }

        .form-wrapper button:focus:before {
            border-right-color: #4ca2cd;
        }

        .form-wrapper button::-moz-focus-inner {
            border: 0;
            padding: 0;
        }
/* End SearchBox */
/* Typewriter effect */
/* Hide for very small screens*/
@media (max-width: 399px) {
    .typewriter {
        display: none;
    }
}

@media (min-width: 400px) {
    .typewriter {
        margin: 0 auto;
        padding: 0;
        text-align: center;
        max-width: 375px;
    }
}

.typeline {
    color: #ffb400;
    position: relative;
    margin: 30px auto 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 18px;
    font-weight: 600;
    font-family: 'Open Sans',Arial;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}
/* Animation */
.anim-typewriter {
    animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255,255,255,.75);
    }

    to {
        border-right-color: transparent;
    }
}
/* End Typewriter Effect*/
/* Footer */
footer {
    color: #ffb400;
    padding: 50px 0;
    margin: 0;
    background: #67B26F;
    background: -webkit-linear-gradient(to left, #67B26F, #4ca2cd);
    background: linear-gradient(to left, #67B26F, #4ca2cd);
}
/* Search Results View */
/* Entire list container */
#titlescontainer {
    margin: 0;
    padding: 20px 0 50px 0;
    display: block;
}
    /* List Item */
    #titlescontainer .titlebox {
        margin: 5px 0;
        padding: 20px 0px;
    }

    #titlescontainer .heading h2 {
        text-align: left;
        font-size: 22px;
        font-weight: 600;
        color: #ffb400;
    }

    #titlescontainer .image-wrapper {
        min-width: 100px;
        max-width: 140px;
    }

    #titlescontainer img {
        border-radius: 8px;
        width: 100px;
        height: 100px;
        border: 1px solid #eee;
    }

    #titlescontainer h4 {
        color: #4885ed;
        font-size: 18px;
        font-weight: 500;
        margin: 2px 0;
        padding: 0;
        display: inline-block;
    }

    #titlescontainer .collection-info {
        color: #888;
        padding: 8px 0 0 0;
        margin: 0;
        font-size: 13px;
    }

    #titlescontainer .artist-info {
        color: #888;
        padding: 8px 0 0 0;
        margin: 0;
        font-size: 13px;
    }

    #titlescontainer .collection-info span {
        padding: 0px 7px 0 0;
    }

    #titlescontainer .artist-info span {
        padding: 0px 5px 0 0;
    }
/* End Search Results View*/
/* Error View */
.error-main {
    text-align: left;
    margin: 50px auto 0px auto;
    padding: 0;
    background: #fff;
    display: block;
}

    .error-main h1, .error-main h2 {
        padding: 25px 0;
        color: #ffb400;
    }

    .error-main h2 {
        font-weight: 500;
    }
