﻿@model GoTunes.Models.iTunesResultSet
@{
    // values used in the _layout
    // title of the page
    ViewBag.Title = "Search";
    // css class for inner views
    ViewBag.CssClass = "outer";
}
<div class="main">
    <div class="container">
        @Html.Partial("~/Views/Shared/_SearchBox.cshtml")
    </div>
</div>
<div class="container">
    <!--<h2>Search</h2>-->

    <div id="titlescontainer" class="clearfix">
        <!-- Check if Model is Empty -->
        @if (Model != null && Model.results != null && Model.results.Count > 0)
        {
            <div class="heading">
                <h2>Showing @Model.results.Count results from iTunes</h2>
                </div>
            <!-- Iterate thru the results to render -->
            foreach (var item in Model.results)
            {
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 titlebox">
                    <div class="col-md-3 col-sm-3 col-xs-4 image-wrapper">
                        <div class="image-style-seven">
                            <!-- Image -->
                            <a href='@item.TrackViewUrl' target="_blank">
                                <img class="img-responsive" src='@item.ArtworkUrl100'
                                     alt='@item.TrackName.Replace("'", "''")' title='@item.TrackName.Replace("'", "''")' />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-8 text-wrapper">
                        <!-- Heading -->
                        <div class="block-heading-two" style="text-align:left">
                            <a href='@item.TrackViewUrl' target="_blank"><h4>@item.TrackName&nbsp;</h4></a>
                            <div class="collection-info"><span class="glyphicon glyphicon-folder-open" aria-hidden="true" title="Collection"></span>@item.CollectionName</div>
                            <div class="artist-info"><span class="glyphicon glyphicon-user" aria-hidden="true" title="Artist"></span>@item.ArtistName</div>
                        </div>
                    </div>
                </div>
                    <div class="hidden-lg hidden-md clearfix"></div>
            }
        }
        else
        {
            <div class="heading">
                <h2>No Results Found</h2>
            </div>
        }
            </div>
</div>