﻿@model string
@{
    // values used in the _layout
    // title of the page
    ViewBag.Title = "Error";
    // css class for inner views
    ViewBag.CssClass = "outer";
}
<div class="main">
    <div class="container">
        @Html.Partial("~/Views/Shared/_SearchBox.cshtml")
    </div>
</div>
<div class="container">
    <div class="error-main">
        <h1>Oops...Something Bad Happened!</h1>
        <h2>@Model</h2>
    </div>
</div>
