﻿@{
    // values used in the _layout
    // title of the page
    ViewBag.Title = "Home";
    // home view layout is slightly different than inner views
    ViewBag.CssClass = "outer-homepage";
}
    <div class="container">
        <div class="main-homepage">
            <h2>THE BEST iTUNES SEARCH ENGINE</h2>
            <div class="typewriter">
                <p class="typeline anim-typewriter">Find music, movies, artists, apps and more.</p>
            </div>
            @Html.Partial("~/Views/Shared/_SearchBox.cshtml")
        </div>
    </div>
